<nav aria-label="...">
    <ul class="pager">
        <li class="previous" [class.disabled]="!hasPrev()">
            <button [disabled]="!hasPrev()" class="btn btn-default previous"
                    (click)="previous()">
                <span aria-hidden="true">&larr;</span> {{prevText}}
            </button>
        </li>
        <ng-content></ng-content>
        <li class="next" [class.disabled]="!hasNext()">
            <button [disabled]="!hasNext()" class="btn btn-default next"
                    (click)="next()">
                {{nextText}} <span aria-hidden="true">&rarr;</span>
            </button>
        </li>
    </ul>
</nav>