<div class="container">
  <div class="row" style="margin-top:20px">
    <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
      <form role="form">
        <fieldset>
          <h2>Please Sign In</h2>
          <hr class="colorgraph">
          <div class="form-group">
            <input type="email" name="username" id="username" [(ngModel)]="credentials.username" class="form-control input-lg" placeholder="Email Address">
          </div>
          <div class="form-group">
            <input type="password" name="password" id="password" [(ngModel)]="credentials.password" class="form-control input-lg" placeholder="Password">
          </div>
          <div *ngIf="message">
            <span class="alert-danger">{{message}}</span>
          </div>
          <hr class="colorgraph">
          <button type="submit" (click)="logIn()" class="btn btn-lg btn-success btn-block">Validate</button>
          <a href routerLink="/register">Register</a>
        </fieldset>
      </form>
    </div>
  </div>
</div>
