.colorgraph {
    height: 5px;
    border-top: 0;
    background: #c4e17f;
    border-radius: 5px;
    background-image: -webkit-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
    background-image: -moz-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
    background-image: -o-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
    background-image: linear-gradient(to right, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
}

.title {
    cursor: pointer;
}

.delete {
    font-weight: bold;
    cursor: pointer;
    background-color: red;
}

.amounts {
    margin-top: -30px;
}

.total-balance, .total-spent, .total-credit {
    text-align: center;
}

.total-balance .description,
.total-spent .description,
.total-credit .description {
    text-transform: uppercase;
    font-style: normal;
    margin-top: -15px;
    font-size: 10px;
    font-weight: bold;
}

.balance {
}

@media (min-width: 992px) {
    .balance-md {
        font-size: 36px !important;
    }
}

@media (min-width: 553px) {
    @media (max-width: 992px) {
        .balance-sm {
            font-size: 28px !important;
        }
    }
}

.balance-xs {
    font-size: 20px;
}

.description {
    font-style: italic;
    font-size: 12px;
}

.total-balance .out, .total-balance-out {
    color: #f0776c;
}

.transaction-out, .transaction-out > h4 {
    color: #f0776c !important;
}

.out {
    color: #f0776c;
}

.out:after, .in:after {
    /*content: ' €';*/
}

.transaction-out-badge {
    background-color: #f0776c;
    color: white;
}

.total-balance .in, .total-balance-in {
    color: darkgreen;
}

.in {
    color: darkgreen;
}

.transaction-in, .transaction-in > h4 {
    color: darkgreen !important;
}

.transaction-in-badge {
    background-color: darkgreen;
    color: white;
}

.add {
    font-size: 24px;
}

.add-budget {
    margin-bottom: 10px;
}

button.previous {
    float: left;
}

button.next {
    float: right;
}

.transaction {
    cursor: pointer;
}

.transaction:hover {
    background-color: rgba(217, 220, 220, 0.56);
}