<div class="container-fluid">
    <nav id="navbar" class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#header-menus"
                        aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Sharing</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="header-menus">
                <ul class="nav navbar-nav">
                    <li><a routerLink="/" routerLinkActive="active">Home</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                           aria-haspopup="true" aria-expanded="false">
                            <i class="glyphicon glyphicon-user"></i> {{connected ? connected.firstName : 'Connexion'}}
                            <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li *ngIf="!connected.username">
                                <a routerLink="/login" routerLinkActive="active">Log In</a>
                            </li>
                            <li *ngIf="!connected.username">
                                <a routerLink="/register" routerLinkActive="active">Register</a>
                            </li>
                            <li *ngIf="connected.username">
                                <a href (click)="logOut()">Log out</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div> <!-- /.navbar-collapse -->
        </div> <!-- /.container-fluid -->
    </nav>
    <div class="container-fluid">
        <router-outlet></router-outlet>
    </div>
</div>
