<div class="container">

  <div class="row" style="margin-top:20px">
    <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
      <form role="form">
        <fieldset>
          <h2>Please Register</h2>
          <hr class="colorgraph">
          <div class="form-group">
            <input type="text" name="firstName" [(ngModel)]="user.firstName" id="firstName" class="form-control input-lg" placeholder="First Name">
          </div>
          <div class="form-group">
            <input type="text" name="lastName" [(ngModel)]="user.lastName" id="lastName" class="form-control input-lg" placeholder="Last Name">
          </div>
          <hr class="colorgraph">
          <div class="form-group">
            <input type="email" name="username" [(ngModel)]="user.username" id="username" class="form-control input-lg" placeholder="Email Address">
          </div>
          <div class="form-group">
            <input type="password" name="password" [(ngModel)]="user.password" id="password" class="form-control input-lg" placeholder="Password">
          </div>
          <div *ngIf="message">
            <span class="alert-danger">{{message}}</span>
          </div>
          <hr class="colorgraph">
          <div class="row">
            <button type="submit"  (click)="register()" class="btn btn-lg btn-success btn-block">Validate</button>
            <a href routerLink="/login">Login</a>
          </div>
        </fieldset>
      </form>
    </div>
  </div>

</div>
